<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
</head>

<body>
  <h1>Movies</h1>

<div class="container">
  <h2>Listado de Películas</h2>

  {{#if user.isAdmin}}
    <h3>Añadir Nueva Película</h3>
    <form action="/movies/add" method="post">
      <label for="title">Título:</label>
      <input type="text" id="title" name="title" required>

      <label for="synopsis">Sinopsis:</label>
      <textarea id="synopsis" name="synopsis" required></textarea>

      <label for="genre">Género:</label>
      <input type="text" id="genre" name="genre" required>

      <label for="averageScore">Puntuación Promedio:</label>
      <input type="text" id="averageScore" name="averageScore" required>

      <button type="submit">Añadir Película</button>
    </form>
  {{/if}}

  <ul>
    {{#each movies}}
      <li>
        <strong>{{this.titleMov}}</strong>
        <p>{{this.sypnosis}}</p>
        <p>Género: {{this.genre}}</p>
        <p>Puntuación Promedio: {{this.averageScore}}</p>
        <a href="/movies/{{this.id}}/reviews">Ver Opiniones</a>
      </li>
    {{/each}}
  </ul>
</div>
</body>

</html>
