<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
</head>

<body>
  <nav>
    <div class="menuFlex">
      <a href="/profile">
        <p>Perfil</p>
      </a>
      <br>
      <a href="/movies">
        <p>Películas</p>
      </a>
      <br>
      <a href="/reviews">
        <p>Opiniones</p>
      </a>
    </div>
  </nav>
  <div class="elements">
    <h1>Movies</h1>

    <div class="container">
      <h2>Listado de Películas</h2>

      {{#if user.isAdmin}}
      <h3>Añadir Nueva Película</h3>
      <form action="/movies/add" method="post" enctype="multipart/form-data" class="forms">
        <label for="titleMov">Título:</label>
        <input type="text" id="titleMov" name="titleMov" required>
        <br>
        <label for="sypnosis">Sinopsis:</label>
        <textarea id="sypnosis" name="sypnosis" required></textarea>
        <br>
        <br>
        <label for="genre">Género:</label>
        <input type="text" id="genre" name="genre" required>
        <br>
        <label for="averageScore">Puntuación Promedio:</label>
        <input type="text" id="averageScore" name="averageScore" required>

        <br>

        <button type="submit">Añadir Película</button>
    </div>
    </form>
    {{/if}}


    <h3>Filtrar y Ordenar</h3>
    <form action="/movies" method="get">
      <label for="order">Ordenar por:</label>
      <select id="order" name="order">
        <option value="title">Título</option>
        <option value="averageScore">Puntuación Promedio</option>
      </select>

      <label for="genreFilter">Filtrar por Género:</label>
      <input type="text" id="genreFilter" name="genreFilter">

      <button type="submit">Aplicar Filtros</button>
    </form>

    <ul>
      {{#each movies}}
      <li>
        <strong>{{this.titleMov}}</strong>
        <p>{{this.sypnosis}}</p>
        <p>Género: {{this.genre}}</p>
        <p>Puntuación Promedio: {{this.averageScore}}</p>
        <a href="/movies/{{this.id}}/reviews">Ver Opiniones</a>
      </li>
      {{/each}}
    </ul>
  </div>
</body>

</html>