<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>
    <nav>
        <div class="menuFlex">
            <a href="/profile">
                <p>Perfil</p>
            </a>
            <br>
            <a href="/movies">
                <p>Películas</p>
            </a>
            <br>
            <a href="/reviews">
                <p>Opiniones</p>
            </a>
            <a href="/logout">
                <p>Cerrar sesión</p>
            </a>
        </div>
    </nav>
    <div class="elements">
        <h1>{{ nickname }} - Perfil</h1>
        <p>Fecha de creación: {{ formatDate createdAt }}</p>

        <h2>Publicaciones</h2>
        {{#if posts.length}}
        <ul>
            {{#each posts}}
            <li>{{ this.content }} - {{ formatDateTime this.createdAt }}</li>
            {{/each}}
        </ul>
        {{else}}
        <p>No hay publicaciones.</p>
        {{/if}}
    </div>
</body>

</html>