<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reseñas</title>
</head>

<body>
  <nav>
    <div class="menuFlex">
      <a href="/profile">
        <p>Perfil</p>
      </a>
      <a href="/movies">
        <p>Películas</p>
      </a>
      <a href="/reviews">
        <p>Opiniones</p>
      </a>
    </div>
  </nav>
  <div class="elements">
    <h1>Reseñas</h1>


    <h2>Añadir Nueva Reseña</h2>
    <form action="/reviews/add" method="post" class="forms">
      <label for="movie">Película:</label>
      <select id="movie" name="movieId" required>
        {{#each movies}}
        <option value="{{this.id}}">{{this.titleMov}}</option>
        {{/each}}
      </select>
      <br>
      <label for="title">Título:</label>
      <input type="text" id="title" name="title" required>
      <br>
      <label for="opinion">Opinión:</label>
      <textarea id="opinion" name="opinion" required></textarea>
      <br>
      <label for="score">Puntuación:</label>
      <input type="number" id="score" name="score" required>
      <br>
      <button type="submit">Añadir Reseña</button>
    </form>


    <h2>Reseñas de la Película</h2>

    {{#if reviews.length}}
    <form action="/reviews" method="get" class="forms">
      <label for="genreFilter">Filtrar por Género:</label>
      <select id="genreFilter" name="genreFilter">
        <option value="">Todos</option>
        {{#each genres}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
      <button type="submit">Filtrar</button>
    </form>

    <ul>
      {{#each reviews}}
      <li>
        <strong>{{this.title}}</strong>
        <p>{{this.opinion}}</p>
        <p>Puntuación: {{this.score}}</p>
        <p>Autor: {{this.author.nickname}}</p>

        {{#if user.isAdmin}}
        <form action="/reviews/{{this.id}}/delete" method="post">
          <button type="submit">Eliminar Reseña</button>
        </form>
        {{/if}}
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p>No hay reseñas disponibles para esta película.</p>
    {{/if}}
  </div>
</body>

</html>